/*Mohammed's css*/
body {
  font-family: LabGrotesque, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav div:nth-child(2) ul {
  display: flex;
  list-style-type: none;
}
nav div:nth-child(2) ul li a {
  padding: 0px 10px;
  font-weight: bold;
  text-decoration: none;
  color: gray;
}
nav div:nth-child(2) ul li a:active {
  color: black;
}
main {
  margin-top: 1pc;
  text-align: center;
}
main div span {
  font-size: 4pc;
  font-weight: bolder;
}
main div span:last-child {
  font-weight: bolder;
  color: rgb(4, 221, 178);
}
main div:nth-child(2) p {
  font-size: x-large;
}
main div:nth-child(3) {
  margin-top: 5pc;
}
main div:nth-child(3) img {
  width: 60rem;
  max-width: 100%;
  height: auto;
  border-radius: 30px;
}
main div:nth-child(3) h1 {
  font-size: 56px;
  margin: 5pc 0pc;
}
main div:nth-child(3) button {
  font-size: 2pc;
}
.button {
  background-color: rgb(4, 221, 178);
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 20px;
  border: none;
  color: rgb(255, 255, 255) !important;
}

/*Wael's css*/
.first-row ul li {
  margin: 5px;
}

footer {
  margin-top: 4pc;
}

footer a {
  text-decoration: none;
  font-size: 14px;
}

footer a:hover {
  font-size: 16px;
  cursor: pointer;
}

footer li {
  list-style-type: none;
  padding: 10px;
}

footer .logo {
  display: flex;
  justify-content: start;
  align-items: start;
  margin-right: 3px;
}

footer .logo {
  top: 1px;
}

.social {
  width: 300px;
  height: 100px;
  display: fixed;
  top: 30px;
  cursor: pointer;
}
.social .icon {
  font-size: 46px;
}

.social .icon:hover {
  font-size: 50px;
}
